debug:                   false
google.hosted_domain:    astina.ch
google.client_id:        ~
google.client_secret:    ~
google.redirect_uri:     ~
spark_core.url:          ~
spark_core.access_token: ~
