body, html {
	position: relative;
	margin: 0;
	background-color: #fff;
	width: 100%;
	height: 100%;
	font-family: Verdana, sans-serif;
	overflow: hidden;
}
body {
	display: table;
	color: #fff;
	width: 100%;
}

a {
	text-decoration: none;
}

.wrapper {
	display: table-row;
}

.wrapper-inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.btn-google-auth {
	display: inline-block;
	position: relative;
	/*width: 200px;
	height: 200px;*/
	width: 100%;
	height: 100%;
	background-color: #fff;
	/*border: 1px solid #444;*/
	/*border-radius: 3px;*/
	text-indent: -9999px;
}
.btn-google-auth:before {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -40px 0 0 -60px;
	width: 120px;
	height: 80px;
	background: url(../images/google-logo-color.png) center center no-repeat;
	background-size: contain;
}

.btn-google-auth:after {
	content: "Authentication";
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	color: black;
	margin: 24px 0 0 -30px;
	text-indent: 0;
}

.btn-unlock {
	display: inline-block;
	position: relative;
	/*width: 200px;
	height: 200px;*/
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: #0177c7;
	text-indent: -9999px;
}


.btn-unlock:before {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -74px 0 0 -60px;
	width: 120px;
	height: 148px;
	background: url(../images/lock-icons.png) center bottom no-repeat;
	background-size: 120px;
}

.btn-unlock:after {
	content: "Unlock.";
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -5px 0 0 -90px;
	width: 180px;
	height: 80px;
	line-height: 80px;
	font-size: 24px;
	text-align: center;
	text-indent: 0;
}

@media (min-width: 600px) {
	.btn-google-auth:before {
		margin: -140px 0 0 -160px;
		width: 320px;
		height: 280px;
	}

	.btn-google-auth:after {
		font-size: 22px;
		margin: 70px 0 0;
	}
	
	.btn-unlock:before {
		margin: -170px 0 0 -110px;
		width: 220px;
		height: 290px;
		background-size: 220px;
	}
	.btn-unlock:after {
		margin-top: 10px;
		font-size: 44px;
	}
}