<html>
    <head>
        <title>Astina Bellhop</title>
    </head>

    <body>
    {% if access_token is empty %}
        <a href="{{ authUrl }}">Google Login</a>
    {% else %}
        <a href="/api/opendoor">Open</a>
        |
        <a href="/logout">X</a>
    {% endif %}
    </body>
</html>
